<template>
    <div class="extra-info">
        <div class="extra-info__option extra-info__option--seat-wind">
            <h3>{{language.get('EXTRA_INFO_SEAT_WIND')}}</h3>
            <span>
                <input
                        type="radio"
                        id="extra-info__seat_wind_east"
                        v-model="seatWindGetSet"
                        value="east"
                >
                <label for="extra-info__seat_wind_east">{{language.get('EXTRA_INFO_SEAT_WIND_EAST')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="extra-info__seat_wind_south"
                        v-model="seatWindGetSet"
                        value="south"
                >
                <label for="extra-info__seat_wind_south">{{language.get('EXTRA_INFO_SEAT_WIND_SOUTH')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="extra-info__seat_wind_west"
                        v-model="seatWindGetSet"
                        value="west"
                >
                <label for="extra-info__seat_wind_west">{{language.get('EXTRA_INFO_SEAT_WIND_WEST')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="extra-info__seat_wind_north"
                        v-model="seatWindGetSet"
                        value="north"
                >
                <label for="extra-info__seat_wind_north">{{language.get('EXTRA_INFO_SEAT_WIND_NORTH')}}</label>
            </span>
        </div>

        <div class="extra-info__option extra-info__option--round-wind">
            <h3>{{language.get('EXTRA_INFO_ROUND_WIND')}}</h3>
            <span>
                <input
                        type="radio"
                        id="extra-info__round_wind_east"
                        v-model="roundWindGetSet"
                        value="east"
                >
                <label for="extra-info__round_wind_east">{{language.get('EXTRA_INFO_SEAT_WIND_EAST')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="extra-info__round_wind_south"
                        v-model="roundWindGetSet"
                        value="south"
                >
                <label for="extra-info__round_wind_south">{{language.get('EXTRA_INFO_SEAT_WIND_SOUTH')}}</label>
            </span>
        </div>

        <div class="extra-info__option extra-info__option--drawn">
            <h3>{{language.get('EXTRA_INFO_DRAWN')}}</h3>
            <span>
                <input
                    type="radio"
                    id="extra-info__self-drawn"
                    v-model="finalTileDrawnStateGetSet"
                    value="selfDrawn"
                >
                <label for="extra-info__self-drawn">{{language.get('EXTRA_INFO_SELF_DRAWN')}}</label>
            </span>
            <span>
                <input
                    type="radio"
                    id="extra-info__other-drawn"
                    v-model="finalTileDrawnStateGetSet"
                    value="otherDrawn"
                >
                <label for="extra-info__other-drawn">{{language.get('EXTRA_INFO_OTHER_DRAWN')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="extra-info__quad-supplement-drawn"
                        v-model="finalTileDrawnStateGetSet"
                        value="quadSupplementTileDrawn"
                >
                <label for="extra-info__quad-supplement-drawn">{{language.get('EXTRA_INFO_QUAD_SUPPLEMENT_DRAWN')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="extra-info__quad-robbed-drawn"
                        v-model="finalTileDrawnStateGetSet"
                        value="quadRobbedDrawn"
                >
                <label for="extra-info__quad-robbed-drawn">{{language.get('EXTRA_INFO_QUAD_ROBBED_DRAWN')}}</label>
            </span>
        </div>

        <div class="extra-info__option extra-info__option--richii">
            <h3>{{language.get('EXTRA_INFO_RICHII')}}</h3>
            <span>
                <input
                    type="radio"
                    id="noRichii"
                    v-model="richiiStateGetSet"
                    value="without"
                >
                <label for="noRichii">{{language.get('EXTRA_INFO_NO_RICHII')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="withRichii"
                        v-model="richiiStateGetSet"
                        value="with"
                >
                <label for="withRichii">{{language.get('EXTRA_INFO_WITH_RICHII')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="withDoubleRichii"
                        v-model="richiiStateGetSet"
                        value="withDouble"
                >
                <label for="withDoubleRichii">{{language.get('EXTRA_INFO_WITH_DOUBLE_RICHII')}}</label>
            </span>
            <span>
                <input
                    type="radio"
                    id="richiiImmediateWin"
                    v-model="richiiStateGetSet"
                    value="with_immediate"
                >
                <label for="richiiImmediateWin">{{language.get('EXTRA_INFO_RICHII_IMMEDIATE')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="withDoubleRichiiImmediate"
                        v-model="richiiStateGetSet"
                        value="withDouble_immediate"
                >
                <label for="withDoubleRichiiImmediate">{{language.get('EXTRA_INFO_DOUBLE_RICHII_IMMEDIATE')}}</label>
            </span>
        </div>

        <div class="extra-info__option extra-info__option--last-tile">
            <h3>{{language.get('EXTRA_INFO_LAST_TILE_INFO')}}</h3>
            <span>
                <input
                        type="radio"
                        id="notLastTile"
                        v-model="lastTileGetSet"
                        value="false"
                >
                <label for="notLastTile">{{language.get('EXTRA_INFO_NOT_LAST_TILE')}}</label>
            </span>
            <span>
                <input
                        type="radio"
                        id="lastTile"
                        v-model="lastTileGetSet"
                        value="true"
                >
                <label for="lastTile">{{language.get('EXTRA_INFO_LAST_TILE')}}</label>
            </span>
        </div>
    </div>
</template>
<style lang="scss">
    @import '../../../assets/sass/colors';
    @import '../../../assets/sass/fonts';

    .extra-info {
        padding: 5px 12px 0 12px;
        display: grid;
        grid-template-columns: auto 20px auto 20px auto 20px auto 20px auto;
        grid-template-rows: 100%;

        .extra-info__option {
            margin-bottom: 10px;

            &.extra-info__option--seat-wind {
                grid-row: 1;
                grid-column: 1;
            }

            &.extra-info__option--round-wind {
                grid-row: 1;
                grid-column: 3;
            }

            &.extra-info__option--drawn {
                grid-row: 1;
                grid-column: 5;
            }

            &.extra-info__option--richii {
                grid-row: 1;
                grid-column: 7;
            }

            &.extra-info__option--last-tile {
                grid-row: 1;
                grid-column: 9;
            }

            h3 {
                margin: 0 0 5px 0;
                line-height: 22px;
                color: $color-dark;
                @extend %font--xl;
                border-bottom: 1px solid $color-dark;
            }
            span {
                display: block;
                height: 18px;
                white-space: nowrap;
                line-height: 18px;
                margin-bottom: 5px;
                color: $color-dark;
                @extend %font-normal;

                input {
                    margin: 0 3px 0 0;
                }

                label {
                    margin: 0 10px 0 0;
                }

                * {
                    vertical-align: middle;
                }
            }
        }
    }

</style>
<script lang="ts">
    import Vue from "vue";

    import Language from "../../../assets/i18n/Language";

    import {Component, Prop} from "vue-property-decorator";
    import WinningState, {
        TFinalTileDrawnState,
        TRichiiState,
        TRoundWind,
        TSeatWind
    } from "@/lib/mahjong/model/WinningState";

    @Component({})
    export default class StateEditor extends Vue {
        language: Language = Language.getInstance();

        @Prop({default: 'selfDrawn'})
        finalTileDrawnState!: TFinalTileDrawnState;

        @Prop({default: 'without'})
        richiiState!: TRichiiState;

        @Prop({default: 'east'})
        seatWind!: TSeatWind;

        @Prop({default: 'east'})
        roundWind!: TRoundWind;

        @Prop({default: true})
        lastTile!: boolean;

        get finalTileDrawnStateGetSet(): TFinalTileDrawnState {
            return this.finalTileDrawnState;
        }

        set finalTileDrawnStateGetSet(newValue: TFinalTileDrawnState) {
            this.$emit('mahjongWinningStateChange', [new WinningState(
                newValue,
                this.richiiState,
                this.seatWind,
                this.roundWind,
                this.lastTile
            )]);
        }

        get richiiStateGetSet(): TRichiiState {
            return this.richiiState;
        }

        set richiiStateGetSet(newValue: TRichiiState) {
            this.$emit('mahjongWinningStateChange', [new WinningState(
                this.finalTileDrawnState,
                newValue,
                this.seatWind,
                this.roundWind,
                this.lastTile
            )]);
        }

        get seatWindGetSet(): TSeatWind {
            return this.seatWind;
        }

        set seatWindGetSet(newValue: TSeatWind) {
            this.$emit('mahjongWinningStateChange', [new WinningState(
                this.finalTileDrawnState,
                this.richiiState,
                newValue,
                this.roundWind,
                this.lastTile
            )]);
        }

        get roundWindGetSet(): TRoundWind {
            return this.roundWind;
        }

        set roundWindGetSet(newValue: TRoundWind) {
            this.$emit('mahjongWinningStateChange', [new WinningState(
                this.finalTileDrawnState,
                this.richiiState,
                this.seatWind,
                newValue,
                this.lastTile
            )]);
        }

        get lastTileGetSet(): boolean {
            return this.lastTile;
        }

        set lastTileGetSet(newValue: boolean) {
            this.$emit('mahjongWinningStateChange', [new WinningState(
                this.finalTileDrawnState,
                this.richiiState,
                this.seatWind,
                this.roundWind,
                newValue,
            )]);
        }
    }

</script>