<template>
    <div class="suit_editor">
        <div class="suit_editor__subheader">
            <span>
                {{subHeader}}
            </span>
            <span v-if="suitType !== null && showOpenClosedChoice">
                <input type="radio" v-bind:id="guidA" v-model="open" v-bind:value="true" />
                <label v-bind:for="guidA">Open</label>
                <input v-bind:id="guidB" type="radio" v-model="open" v-bind:value="false" />
                <label v-bind:for="guidB">Closed</label>
            </span>
            <span v-if="suitType !== null && !showOpenClosedChoice">
                {{actualOpenChoice ? 'open' : 'closed'}}_{{suitType}}
            </span>
        </div>
        <mahjong-tiles
                v-bind:min-tiles="minTiles"
                v-bind:max-tiles="maxTiles"
                v-bind:tiles="tiles"
                v-bind:allow-remove="allowRemove"
                v-bind:event-id="tiles"
                v-on:rejectTile="onRejectTile"
                v-on:removeTile="onRemoveTile"
        />
    </div>
</template>
<style lang="scss">
    @import '../../../assets/sass/colors';
    @import '../../../assets/sass/fonts';

    .suit_editor {
        .suit_editor__subheader {
            height: 18px;
            white-space: nowrap;
            line-height: 18px;
            margin-bottom: 5px;
            color: $color-dark;
            @extend %font-normal;

            input {
                margin: 0 3px 0 0;
            }

            label {
                margin: 0 10px 0 0;
            }

            * {
                vertical-align: middle;
            }
        }
    }
</style>
<script lang="ts">
    import Vue from "vue";

    import {Component, Prop} from "vue-property-decorator";

    import Tile from "@/lib/mahjong/model/Tile";

    import Suite, {TSuiteType} from "@/lib/mahjong/model/Suite";
    import Pair from "@/lib/mahjong/model/suites/Pair";
    import Street from "@/lib/mahjong/model/suites/Street";
    import Triplet from "@/lib/mahjong/model/suites/Triplet";
    import Quad from "@/lib/mahjong/model/suites/Quad";

    import MahjongTiles from "@/views/calculator/widget/MahjongTiles.vue";

    type TAllowedSuits = {
        'pair': boolean,
        'openStreet': boolean,
        'closedStreet': boolean,
        'openTriplet': boolean,
        'closedTriplet': boolean,
        'openQuad': boolean,
        'closedQuad': boolean
    };

    @Component({
        components: {MahjongTiles}
    })
    export default class SuitEditor extends Vue {
        @Prop({default: () => { return {
            'pair': true,
            'openStreet': true,
            'closedStreet': true,
            'openTriplet': true,
            'closedTriplet': true,
            'openQuad': true,
            'closedQuad': true
        }; }})
        allowedSuits!: TAllowedSuits;

        @Prop({default: true})
        allowRemove!: boolean;

        @Prop({})
        eventId!: string;

        @Prop({default: []})
        tiles!: Array<Tile>;

        @Prop({default: null})
        subHeader!: string | null;

        open: boolean = true;

        previousCycleSuitType: TSuiteType | null = null;

        previousCycleActuallyOpen: boolean = true;

        guidA: string = btoa('' + Math.ceil(Math.random() * 1000000000));
        guidB: string = btoa('' + Math.ceil(Math.random() * 1000000000));

        get minTiles(): number {
            switch (true) {
                case this.allowedSuits.pair:
                    return 2;
                case this.allowedSuits.openStreet:
                case this.allowedSuits.closedStreet:
                case this.allowedSuits.openTriplet:
                case this.allowedSuits.closedTriplet:
                    return 3;
                    case this.allowedSuits.openQuad:
                    case this.allowedSuits.closedQuad:
                    return 4;
                default:
                    throw new RangeError('suit editor requires at least one type of suit allowed');
            }
        }

        get maxTiles(): number {
            switch (true) {
                case this.allowedSuits.openQuad:
                case this.allowedSuits.closedQuad:
                    return 4;
                case this.allowedSuits.openStreet:
                case this.allowedSuits.closedStreet:
                case this.allowedSuits.openTriplet:
                case this.allowedSuits.closedTriplet:
                    return 3;
                case this.allowedSuits.pair:
                    return 2;
                default:
                    throw new RangeError('suit editor requires at least one type of suit allowed');
            }
        }

        get showOpenClosedChoice(): boolean {
            switch (this.suitType) {
                case null:
                case 'pair':
                    return false;
                case 'chi':
                    return this.allowedSuits.openStreet && this.allowedSuits.closedStreet;
                case 'pon':
                    return this.allowedSuits.openTriplet && this.allowedSuits.closedTriplet;
                case 'kan':
                    return this.allowedSuits.openQuad && this.allowedSuits.closedQuad;
                default:
                    throw new Error('should not be here');
            }
        }

        get suitType(): TSuiteType | null {
            let tiles = this.tiles;

            switch (tiles.length) {
                case 2:
                    if (this.allowedSuits.pair && Pair.isValidPair(tiles[0], tiles[1])) {
                        return 'pair'
                    }
                    break;

                case 3:
                    if (
                        (this.allowedSuits.openStreet || this.allowedSuits.closedStreet)
                        && Street.isValidStreet(tiles[0], tiles[1], tiles[2])
                    ) {
                        return 'chi'
                    }

                    if (
                        (this.allowedSuits.openTriplet || this.allowedSuits.closedTriplet)
                        && Triplet.isValidPon(tiles[0], tiles[1], tiles[2])
                    ) {
                        return 'pon'
                    }
                    break;

                case 4:
                    if (
                        (this.allowedSuits.openQuad || this.allowedSuits.closedQuad)
                        && Quad.isValidKan(tiles[0], tiles[1], tiles[2], tiles[3])
                    ) {
                        return 'kan'
                    }
                    break;
            }

            return null;
        }

        get actualOpenChoice(): boolean {
            switch (this.suitType) {
                case null:
                case 'pair':
                    return false;

                case 'chi':
                    if (this.allowedSuits.openStreet && this.allowedSuits.closedStreet) {
                        return this.open;
                    } else {
                        return this.allowedSuits.openStreet;
                    }

                case 'pon':
                    if (this.allowedSuits.openTriplet && this.allowedSuits.closedTriplet) {
                        return this.open;
                    } else {
                        return this.allowedSuits.openTriplet;
                    }

                case 'kan':
                    if (this.allowedSuits.openQuad && this.allowedSuits.closedQuad) {
                        return this.open;
                    } else {
                        return this.allowedSuits.openQuad;
                    }

                default:
                    throw new Error('invalid switch value ' + this.suitType);
            }
        }

        onRejectTile(): void {
            this.$emit('rejectTile', [this.eventId]);
        }

        onRemoveTile(eventData: Array<{eventId: string, tile: Tile}>): void {
            if (eventData.length === 0 || eventData[0].eventId === undefined || eventData[0].tile === undefined) {
                throw new Error('SuitEditor.vue/onRemoveTile: Malformed event data');
            }

            let tileToRemove = eventData[0].tile;

            this.$emit('removeTile', [{eventId: this.eventId, tile: tileToRemove}]);
        }

        private generateSuit(): Suite | null {
            switch (this.suitType) {
                case 'pair':
                    return new Pair(this.tiles[0], this.tiles[1]);

                case 'chi':
                    return new Street(this.tiles[0], this.tiles[1], this.tiles[2], this.actualOpenChoice);

                case 'pon':
                    return new Triplet(this.tiles[0], this.tiles[1], this.tiles[2], this.actualOpenChoice);

                case 'kan':
                    return new Quad(this.tiles[0], this.tiles[1], this.tiles[2], this.tiles[3], this.actualOpenChoice);
            }
            return null;
        }

        beforeUpdate(): void {
            if (
                this.previousCycleSuitType !== this.suitType
                || this.previousCycleActuallyOpen !== this.actualOpenChoice
            ) {
                this.$emit('setSuit', [{eventId: this.eventId, suite: this.generateSuit()}]);
            }
            this.previousCycleSuitType = this.suitType;
            this.previousCycleActuallyOpen = this.actualOpenChoice;
        }
    }
</script>