<template>
    <div class="calculator-widget">
        <div class="calculator-widget__scroll-section">
            <div class="calculator-widget__upper-section">
                <div class="calculator-widget__entry">
                    <div class="calculator-widget__entry__info-float-anchor" v-if="remainingTiles > 0">
                        <div class="calculator-widget__info-float">
                            <span> {{language.get('CALCULATOR_WIDGET_TILES_REMAINING')}}: {{ remainingTiles }} ({{13 + extraTilesDueToQuads - remainingTiles}}/13{{ extraTilesDueToQuads > 0 ? '+' + extraTilesDueToQuads : '' }})</span>
                        </div>
                    </div>

                    <div
                        class="calculator-widget__entry__group calculator-widget__entry__group--closed"
                         v-bind:class="classForMarkedOn('closed')"
                         v-on:click="selectGroup('closed')"
                    >
                        <div class="calculator-widget__group__header">
                            <h3>{{language.get('CALCULATOR_WIDGET_TILES_CLOSED')}}</h3>
                        </div>
                        <mahjong-tiles
                            allow-remove="true"
                            event-id="closed"
                            v-on:rejectTile="onRejectTile"
                            v-on:removeTile="onRemoveTile"
                            v-bind:tiles="tileAreas.closed"
                            v-bind:min-tiles="1"
                            v-bind:max-tiles="13"
                        />
                    </div>

                    <div
                        class="calculator-widget__entry__group calculator-widget__entry__group--group1"
                        v-bind:class="classForMarkedOn('group1')"
                        v-on:click="selectGroup('group1')"
                    >
                        <div class="calculator-widget__group__header">
                            <h3>{{language.get('CALCULATOR_WIDGET_TILES_GROUP1')}}</h3>
                        </div>
                        <suit-editor
                            event-id="group1"
                            allow-remove="true"
                            v-bind:allowed-suits="{
                                'pair': false,
                                'openStreet': true,
                                'closedStreet': false,
                                'openTriplet': true,
                                'closedTriplet': false,
                                'openQuad': true,
                                'closedQuad': true
                            }"
                            v-bind:sub-header="language.get('CALCULATOR_WIDGET_GROUP_EXPLANATION')"
                            v-bind:tiles="tileAreas.group1"
                            v-on:setSuit="onSuiteGeneratedInSuiteEditor"
                            v-on:removeTile="onRemoveTile"
                            v-on:rejectTile="onRejectTile('group1')"
                        />
                    </div>

                    <div
                        class="calculator-widget__entry__group calculator-widget__entry__group--group2"
                        v-bind:class="classForMarkedOn('group2')"
                        v-on:click="selectGroup('group2')"
                    >
                        <div class="calculator-widget__group__header">
                            <h3>{{language.get('CALCULATOR_WIDGET_TILES_GROUP2')}}</h3>
                        </div>
                        <suit-editor
                                event-id="group2"
                                allow-remove="true"
                                v-bind:sub-header="language.get('CALCULATOR_WIDGET_GROUP_EXPLANATION')"
                                v-bind:tiles="tileAreas.group2"
                                v-on:setSuit="onSuiteGeneratedInSuiteEditor"
                                v-on:removeTile="onRemoveTile"
                                v-on:rejectTile="onRejectTile"
                        />
                    </div>

                    <div
                        class="calculator-widget__entry__group calculator-widget__entry__group--group3"
                        v-bind:class="classForMarkedOn('group3')"
                        v-on:click="selectGroup('group3')"
                    >
                        <div class="calculator-widget__group__header">
                            <h3>{{language.get('CALCULATOR_WIDGET_TILES_GROUP3')}}</h3>
                        </div>
                        <suit-editor
                                event-id="group3"
                                allow-remove="true"
                                v-bind:sub-header="language.get('CALCULATOR_WIDGET_GROUP_EXPLANATION')"
                                v-bind:tiles="tileAreas.group3"
                                v-on:setSuit="onSuiteGeneratedInSuiteEditor"
                                v-on:removeTile="onRemoveTile"
                                v-on:rejectTile="onRejectTile"
                        />
                    </div>

                    <div
                        class="calculator-widget__entry__group calculator calculator-widget__entry__group--group4"
                        v-bind:class="classForMarkedOn('group4')"
                        v-on:click="selectGroup('group4')"
                    >
                        <div class="calculator-widget__group__header">
                            <h3>{{language.get('CALCULATOR_WIDGET_TILES_GROUP4')}}</h3>
                        </div>
                        <suit-editor
                                event-id="group4"
                                allow-remove="true"
                                v-bind:sub-header="language.get('CALCULATOR_WIDGET_GROUP_EXPLANATION')"
                                v-bind:tiles="tileAreas.group4"
                                v-on:setSuit="onSuiteGeneratedInSuiteEditor"
                                v-on:removeTile="onRemoveTile"
                                v-on:rejectTile="onRejectTile"
                        />
                    </div>

                    <div
                        v-if="readyToCalculateWinningTiles"
                        class="calculator-widget__entry__group calculator-widget__entry__group--extra-tile"
                    >
                        <div class="calculator-widget__group__header">
                            <h3>{{language.get('CALCULATOR_WIDGET_TILES_EXTRA')}}</h3>
                        </div>
                        <div class="calculator-widget__group__dummy-filler">&nbsp;</div>
                        <mahjong-tiles
                            allow-remove="true"
                            min-tiles="1"
                            max-tiles="1"
                            event-id="extra"
                            v-bind:tiles="tileAreas.extra"
                            v-on:removeTile="onRemoveTile"
                            v-on:rejectTile="onRejectTile"
                        />
                    </div>

                    <div
                        v-if="remainingTiles === 0"
                        class="calculator-widget__entry__extra-info"
                    >
                    </div>
                </div>
            </div>

            <div class="calculator-widget__mid-section calculator-widget__entry">
                <div class="calculator-widget__mid-section__state-editor">
                    <state-editor
                            v-bind:final-tile-drawn-state="winningState.getFinalTileDrawnState()"
                            v-bind:richii-state="winningState.getRichiiState()"
                            v-bind:as-east="winningState.getSeatWind() === 'east'"
                            v-bind:seat-wind="winningState.getSeatWind()"
                            v-bind:round-wind="winningState.getRoundWind()"
                            v-bind:last-tile="winningState.getLastTile()"
                            v-on:mahjongWinningStateChange="onSetWinningState"
                    />
                </div>
                <div
                        class="calculator-widget__entry__group calculator calculator-widget__entry__group--dora"
                        v-bind:class="classForMarkedOn('dora')"
                        v-on:click="selectGroup('dora')"
                >
                    <div class="calculator-widget__group__header">
                        <h3>{{language.get('CALCULATOR_WIDGET_TILES_DORA')}}</h3>
                    </div>
                    <mahjong-tiles
                            allow-remove="true"
                            event-id="dora"
                            v-on:rejectTile="onRejectTile('dora')"
                            v-on:removeTile="onRemoveTile"
                            v-bind:tiles="tileAreas.dora"
                            v-bind:min-tiles="1"
                            v-bind:max-tiles="4"
                    />
                </div>

                <div
                        class="calculator-widget__entry__group calculator calculator-widget__entry__group--uraDora"
                        v-bind:class="classForMarkedOn('uraDora')"
                        v-on:click="selectGroup('uraDora')"
                >
                    <div class="calculator-widget__group__header">
                        <h3>{{language.get('CALCULATOR_WIDGET_TILES_URA_DORA')}}</h3>
                    </div>
                    <mahjong-tiles
                            allow-remove="true"
                            event-id="uraDora"
                            v-on:rejectTile="onRejectTile('uraDora')"
                            v-on:removeTile="onRemoveTile"
                            v-bind:tiles="tileAreas.uraDora"
                            v-bind:min-tiles="0"
                            v-bind:max-tiles="4"
                    />
                </div>
            </div>
        </div>

        <div class="calculator-widget__lower-section calculator-widget__non-scroll-section">
            <div v-if="!readyToCalculateWinningTiles && !readyToCalculateResult" class="calculator-widget__keyboard">
                <h2 class="calculator-widget__lower-section__header">{{language.get('CALCULATOR_WIDGET_SELECT_TILES')}}</h2>
                <tile-keyboard v-bind:tiles="unusedTiles" v-on:tileKeyboardSelection="onTileKeyboardTileEntered"></tile-keyboard>
            </div>
            <div v-if="readyToCalculateWinningTiles && !readyToCalculateResult">
                <h2 class="calculator-widget__lower-section__header">{{language.get('CALCULATOR_WIDGET_SELECT_WINNING_TILES')}}</h2>
                <tile-keyboard v-bind:tiles="winningTiles" v-on:tileKeyboardSelection="onExtraTileKeyboardTileEntered"></tile-keyboard>
            </div>
            <div v-if="readyToCalculateResult" class="calculator-widget__result">
                <h2 class="calculator-widget__lower-section__header">{{language.get('CALCULATOR_WIDGET_RESULT')}}</h2>
                <mahjong-result
                    v-bind:as-east="winningState.getSeatWind() === 'east'"
                    v-bind:self-drawn="winningState.getFinalTileDrawnState() === 'selfDrawn' || winningState.getFinalTileDrawnState() === 'quadSupplementTileDrawn'"
                    v-bind:result="result"
                />
            </div>
        </div>
    </div>
</template>
<style lang="scss">
    @import '../../assets/sass/colors';
    @import '../../assets/sass/fonts';

    .calculator-widget {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 580px 380px;

        .calculator-widget__scroll-section {
            grid-column: 1;
            grid-row: 1;
            overflow-y: scroll;
        }

        .calculator-widget__non-scroll-section {
            grid-column: 1;
            grid-row: 2;
        }

        .calculator-widget__upper-section {
            padding-bottom: 10px;
        }

        .calculator-widget__mid-section {
            border-top: 1px solid black;
            padding-bottom: 10px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;

            .calculator-widget__mid-section__state-editor {
                grid-column: 1;
                grid-column-end: 4;
                grid-row: 1;
            }

            .calculator-widget__entry__group--dora {
                grid-column: 1;
                grid-row: 2;
            }

            .calculator-widget__entry__group--uraDora {
                grid-column: 2;
                grid-row: 2;
            }

        }

        .calculator-widget__lower-section {
            border-top: 1px solid black;
            padding: 10px;

            .calculator-widget__lower-section__header {
                @extend %font--xl-plus;
                color: $color-dark;
                margin: 0 0 12px 0;
            }
        }

        .calculator-widget__entry {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 25% 25% 25% 25%;

            .calculator-widget__entry__extra-info {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row: 4;
            }

            .calculator-widget__entry__group {
                padding: 10px;

                &.calculator-widget__entry__group--closed {
                    grid-column-start: 1;
                    grid-column-end: 5;
                    grid-row: 1;
                }

                &.calculator-widget__entry__group--group1 {
                    grid-column: 1;
                    grid-row: 2;
                }

                &.calculator-widget__entry__group--group2 {
                    grid-column: 2;
                    grid-row: 2;
                }

                &.calculator-widget__entry__group--group3 {
                    grid-column-start: 3;
                    grid-column-end: 5;
                    grid-row: 2;
                }

                &.calculator-widget__entry__group--group4 {
                    grid-column: 1;
                    grid-row: 3;
                }

                &.calculator-widget__entry__group--extra-tile {
                    grid-column: 2;
                    grid-row: 3;
                }

                .calculator-widget__group__header {
                    white-space: nowrap;

                    h3{
                        display: block;
                        white-space: nowrap;
                        margin: 0 0 5px 0;
                        padding: 0;
                        color: $color-accent-dark;
                        @extend %font--xl;
                    }

                    span{
                        @extend %font-normal;
                        $color: $color-accent-dark;
                    }
                }

                .calculator-widget__group__dummy-filler {
                    height: 23px;
                }

                &.calculator-widget__entry__group--selected {
                    background: $color-accent-light;

                    .calculator-widget__group__header {
                        h3, span {
                            color: $color-dark;
                        }
                    }
                }
            }

            .calculator-widget__entry__info-float-anchor {
                grid-column: 3;
                grid-row: 3;
                position: relative;
                font-size: 12px;
                font-weight: bold;

                .calculator-widget__info-float {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: lightblue;
                    border: 1px solid blue;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
</style>
<script lang="ts">
    import Vue from "vue";

    import {Component} from 'vue-property-decorator';

    import Language from "@/assets/i18n/Language";

    import MahjongTiles from "@/views/calculator/widget/MahjongTiles.vue";
    import TileKeyboard from "@/views/calculator/widget/TileKeyboard.vue";
    import MahjongResult from "@/views/calculator/widget/Result.vue";
    import StateEditor from "@/views/calculator/widget/StateEditor.vue";
    import SuitEditor from "@/views/calculator/widget/SuitEditor.vue";

    import Tile from "../../lib/mahjong/model/Tile";
    import Suite from "@/lib/mahjong/model/Suite";
    import Hand from "../../lib/mahjong/model/Hand";
    import Score from "@/lib/mahjong/model/Score";
    import ReadyHand from "@/lib/mahjong/model/ReadyHand";
    import WinningState from "@/lib/mahjong/model/WinningState";

    import Triplet from "@/lib/mahjong/model/suites/Triplet";
    import Quad from "@/lib/mahjong/model/suites/Quad";
    import Street from "@/lib/mahjong/model/suites/Street";

    import TileLibrary, {TTilesOfColor} from "@/lib/mahjong/service/TileLibrary";
    import ScoreCalculation from "@/lib/mahjong/service/ScoreCalculation";
    import WinningTilesCalculation from "@/lib/mahjong/service/WinningTilesCalculation";

    type TTileAreaId = 'closed' | 'group1' | 'group2' | 'group3' | 'group4' | 'extra' | 'dora' | 'uraDora';
    type TSuiteId = 'group1' | 'group2' | 'group3' | 'group4';

    @Component({
        components: {StateEditor, SuitEditor, TileKeyboard, MahjongTiles, MahjongResult}
    })
    export default class Widget extends Vue {
        language: Language = Language.getInstance();

        tileAreas: {[key in TTileAreaId]: Array<Tile>} = {
            'closed': [],
            'group1': [],
            'group2': [],
            'group3': [],
            'group4': [],
            'extra': [],
            'dora': [],
            'uraDora': [],
        };

        suites: {[key in TSuiteId]: Suite | null} = {
            'group1': null,
            'group2': null,
            'group3': null,
            'group4': null
        };

        winningState: WinningState = new WinningState(
            'selfDrawn',
            'without',
            'east',
        'east',
            false
        );

        selectedGroup: TTileAreaId = 'closed';

        unusedTiles: Array<TTilesOfColor> =  (new TileLibrary(true)).get();

        get extraTilesDueToQuads(): number {
            return (this.suites.group1 !== null && this.suites.group1.getSuiteType() === 'kan' ? 1 : 0)
                + (this.suites.group2 !== null && this.suites.group2.getSuiteType() === 'kan' ? 1 : 0)
                + (this.suites.group3 !== null && this.suites.group3.getSuiteType() === 'kan' ? 1 : 0)
                + (this.suites.group4 !== null && this.suites.group4.getSuiteType() === 'kan' ? 1 : 0)
        }

        get remainingTiles(): number {
            let remainingTiles: number = 13 + this.extraTilesDueToQuads - this.tileAreas.closed.length;
            for (let tiles of [
                this.tileAreas.group1,
                this.tileAreas.group2,
                this.tileAreas.group3,
                this.tileAreas.group4
            ]) {
                remainingTiles -= tiles.length;
            }

            return remainingTiles;
        }

        get closedQuadSuites(): Array<Quad> {
            let closedQuads: Array<Quad> = [];
            for (let suite of [this.suites.group1, this.suites.group2, this.suites.group3, this.suites.group4]) {
                if (
                    suite !== null
                    && suite.getSuiteType() === 'kan'
                    && !suite.getIsOpen()
                ) {
                    closedQuads.push(suite as Quad);
                }
            }

            return closedQuads;
        }

        get openQuadSuites(): Array<Quad> {
            let openQuads: Array<Quad> = [];
            for (let suite of [this.suites.group1, this.suites.group2, this.suites.group3, this.suites.group4]) {
                if (
                    suite !== null
                    && suite.getSuiteType() === 'kan'
                    && suite.getIsOpen()
                ) {
                    openQuads.push(suite as Quad);
                }
            }

            return openQuads;
        }

        get openTripletSuites() : Array<Triplet> {
            let openTriplets: Array<Triplet> = [];
            for (let suite of [this.suites.group1, this.suites.group2, this.suites.group3, this.suites.group4]) {
                if (
                    suite !== null
                    && suite.getSuiteType() === 'pon'
                    && suite.getIsOpen()
                ) {
                    openTriplets.push(suite as Triplet);
                }
            }

            return openTriplets;
        }

        get openStreets(): Array<Street> {
            let openStreets: Array<Street> = [];
            for (let suite of [this.suites.group1, this.suites.group2, this.suites.group3, this.suites.group4]) {
                if (
                    suite !== null
                    && suite.getSuiteType() === 'chi'
                    && suite.getIsOpen()
                ) {
                    openStreets.push(suite as Street);
                }
            }

            return openStreets;
        }

        get readyToCalculateWinningTiles(): boolean {
            return this.remainingTiles === 0
                && this.tileAreas.closed.length > 0
                && (this.tileAreas.group1.length === 0 || this.suites.group1 !== null)
                && (this.tileAreas.group2.length === 0 || this.suites.group2 !== null)
                && (this.tileAreas.group3.length === 0 || this.suites.group2 !== null)
                && (this.tileAreas.group4.length === 0 || this.suites.group2 !== null);
        }

        get readyToCalculateResult(): boolean {
            return this.readyToCalculateWinningTiles
                && this.tileAreas.extra.length === 1;
        }

        get winningTiles(): Array<TTilesOfColor> | null {
            if (!this.readyToCalculateWinningTiles) {
                return null;
            }

            let readyHand = new ReadyHand(
                this.tileAreas.closed,
                this.closedQuadSuites,
                this.openTripletSuites,
                this.openQuadSuites,
                this.openStreets
            );

            return WinningTilesCalculation.getAllWinningTiles(readyHand, this.winningState, this.unusedTiles);
        }

        get winningTilesAsArray(): Array<Tile> | null {
            let winningTiles = this.winningTiles;
            if (winningTiles === null) {
                return null;
            }

            let tiles: Array<Tile> = [];

            for (let color of winningTiles) {
                for (let number of color.numbers) {
                    for (let tile of number.tiles) {
                        tiles.push(tile);
                    }
                }
            }

            return tiles;
        }

        get result(): Score | null {
            if (!this.readyToCalculateResult) {
                return null;
            }

            let hand = new Hand(
                this.tileAreas.closed,
                this.closedQuadSuites,
                this.openTripletSuites,
                this.openQuadSuites,
                this.openStreets,
                this.tileAreas.extra[0]
            );

            return ScoreCalculation.calculateScore(
                hand,
                this.winningState,
                this.tileAreas.dora,
                this.tileAreas.uraDora,
                this.winningTilesAsArray
            );
        }

        onRemoveTile(eventData: Array<{eventId: TTileAreaId, tile: Tile}>): void {
            if (eventData.length === 0 || eventData[0].eventId === undefined || eventData[0].tile === undefined ) {
                throw new RangeError('Widget.vue/onRemoveTile: malformed eventData');
            }

            let data = eventData[0];

            let tileAreaToRemoveFrom = this.tileAreas[data.eventId];
            let tileToRemove = data.tile;

            let tileSpliced = false;
            for (let i = 0; i < tileAreaToRemoveFrom.length; i++) {
                if (tileAreaToRemoveFrom[i] === tileToRemove) {
                    tileAreaToRemoveFrom.splice(i, 1);
                    tileSpliced = true;
                    break;
                }
            }

            if (!tileSpliced) {
                throw new Error('Widget.vue/onRemoveTile: Tile not spliced from tileArea');
            }

            this.returnTileToStash(tileToRemove);
        }

        onRejectTile(eventData: Array<TTileAreaId>): void {
            if (eventData.length === 0) {
                throw new RangeError('Widget.vue/onRejectTile: malformed eventData');
            }

            let tileAreaId = eventData[0];
            let tileAreaToRemoveFrom = this.tileAreas[tileAreaId];

            if (tileAreaToRemoveFrom === undefined) {
                throw new RangeError('Widget.vue/onRejectTile: invalid tileAreaId');
            }

            let tile = tileAreaToRemoveFrom[tileAreaToRemoveFrom.length - 1];
            tileAreaToRemoveFrom.splice(tileAreaToRemoveFrom.length - 1, 1);

            this.returnTileToStash(tile);
        }

        onTileKeyboardTileEntered(eventData: Array<Tile>): void {
            if (eventData.length === 0) {
                throw new RangeError('Widget.vue/onTileKeyboardTileEntered: malformed eventData');
            }

            let tile: Tile = eventData[0];
            this.tileAreas[this.selectedGroup].push(tile);
            this.removeTileToStash(tile);
        }

        onExtraTileKeyboardTileEntered(eventData: Array<Tile>): void {
            if (eventData.length === 0) {
                throw new RangeError('Widget.vue/onExtraTileKeyboardTileEntered: malformed eventData');
            }

            let tile: Tile = eventData[0];

            this.tileAreas.extra.push(tile);
        }

        onSuiteGeneratedInSuiteEditor(eventData: Array<{eventId: TSuiteId, suite: Suite | null}>): void {
            if (eventData.length === 0) {
                throw new RangeError('Widget.vue/onExtraTileKeyboardTileEntered: malformed eventData');
            }

            let data = eventData[0];

            if (this.suites[data.eventId] === undefined) {
                throw new RangeError('Widget.vue/onExtraTileKeyboardTileEntered: invalid eventId');
            }

            this.suites[data.eventId] = data.suite;
        }

        onSetWinningState(eventData: Array<WinningState>): void {
            if (eventData.length === 0) {
                throw new RangeError('Widget.vue/onSetWinningState: malformed eventData');
            }
            let newState = eventData[0];

            this.winningState = newState;
        }


        selectGroup(group: TTileAreaId): void {
            if (this.tileAreas[group] === undefined) {
                throw new RangeError('Widget.vue/selectGroup: invalid groupId');
            }

            this.selectedGroup = group;
        }

        private returnTileToStash(tile: Tile): void {
            for (let color of this.unusedTiles) {
                if (color.colorName === tile.tileColor) {
                    for (let number of color.numbers) {
                        if (
                            number.number === tile.tileNumber
                            && number.isRed === tile.isRedFive
                        ) {
                            number.tiles.push(tile);
                            return;
                        }
                    }
                }
            }

            throw new Error('Widget.vue/returnTileToStash: unable to find tile position in stash');
        }

        private removeTileToStash(tile: Tile): void {
            for (let color of this.unusedTiles) {
                if (color.colorName === tile.tileColor) {
                    for (let number of color.numbers) {
                        if (
                            number.number === tile.tileNumber
                            && number.isRed === tile.isRedFive
                        ) {
                            for (let i = 0; i < number.tiles.length; i++) {
                                if (number.tiles[i] === tile) {
                                    number.tiles.splice(i, 1);
                                    return;
                                }
                            }
                        }
                    }
                }
            }

            throw new Error('Widget.vue/removeTileToStash: unable to find tile position in stash');
        }

        public classForMarkedOn(group: TTileAreaId): {[className: string]: boolean} {
            return {
                'calculator-widget__entry__group--selected': group === this.selectedGroup
            }
        }
    }
</script>