<template>
    <div class="calculator-page">
        <div class="calculator-page__content">
            <mahjong-calculator />
        </div>
    </div>
</template>
<style lang="scss">
    @import '../assets/sass/colors';
    @import '../assets/sass/fonts';
    @import '../assets/sass/page-common';

    .calculator-page {
        @extend %page-common;
        padding: 15px 5px;
    }
</style>
<script lang="ts">
    import Vue from "vue";

    import {Component} from "vue-property-decorator";

    import MahjongCalculator from "@/views/calculator/Widget.vue";

    import Language from "@/assets/i18n/Language";

    @Component({
        components: {MahjongCalculator}
    })
    export default class Calculator extends Vue {
        language: Language = Language.getInstance();
    }
</script>
