<template>
  <div class="home">
    <div class="home__deco-tiles">
      <mahjong-tile color="man" number="1" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="man" number="2" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="man" number="3" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="man" number="4" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="man" number="5" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="man" number="6" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="man" number="7" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="man" number="8" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="man" number="9" v-bind:red="false"></mahjong-tile>
    </div>
    <h2>{{language.get('HOME_HEADLINE')}}</h2>
    <h3>{{language.get('HOME_SUBHEADLINE')}}</h3>
    <p class="home__thanks">
      {{language.get('HOME_THANKS')}}
      <a target="_blank" href="https://github.com/FluffyStuff/riichi-mahjong-tiles/">https://github.com/FluffyStuff/riichi-mahjong-tiles/</a>
    </p>
    <div class="home__deco-tiles">
      <mahjong-tile color="wind" number="east" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="wind" number="south" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="wind" number="west" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="wind" number="north" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="dragon" number="red" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="dragon" number="white" v-bind:red="false"></mahjong-tile>
      <mahjong-tile color="dragon" number="green" v-bind:red="false"></mahjong-tile>
    </div>
    <p class="home__disclaimer">
      {{language.get('HOME_DISCLAIMER')}}
    </p>
  </div>
</template>
<style lang="scss">
  @import '../assets/sass/colors';
  @import '../assets/sass/fonts';
  @import '../assets/sass/page-common';

  .home {

    .home__deco-tiles {
      text-align: center;
      margin: 20px 0;
    }

    h2 {
      text-align: center;
      color: $color-dark;
      @extend %font--xxl;
    }

    h3 {
      text-align: center;
      color: $color-accent-dark;
      @extend %font--xl-plus;
    }

    .home__thanks {
      text-align: center;
      color: $color-accent-dark;
      @extend %font--l;

      a {
        display: block;
      }
    }

    .home__disclaimer {
      border: 1px solid $color-accent-dark;
      padding: 10px;
      margin: 30px;
      white-space: pre-wrap;
      @extend %font--l;
      color: $color-accent-dark;
    }

  }
</style>
<script lang="ts">
  import Vue from 'vue';

  import {Component} from "vue-property-decorator";

  import Language from "@/assets/i18n/Language";
  import MahjongTile from "@/views/calculator/widget/MahjongTile.vue";

  @Component({
    components: {MahjongTile}
  })
  export default class Home extends Vue {
    language: Language = Language.getInstance();
  }
</script>
