<template>
    <div class="score-table-page">
        <h2>{{language.get('SCORE_TABLE_LESS_THEN_5')}}</h2>
        <table class="score-table-page__lower-score-table">
            <thead>
                <tr>
                    <td v-bind:colspan="Object.keys(lowerScoresBoard[1]).length + 1">
                        {{language.get('SCORE_TABLE_LESS_THEN_5_HEADER')}}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td v-for="winningPoints in Object.keys(lowerScoresBoard)" v-bind:key="winningPoints">
                        {{winningPoints}}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="fuPoints in Object.keys(lowerScoresBoard[1])" v-bind:key="fuPoints">
                    <td>{{fuPoints}}</td>
                    <td v-for="winningPoints2 in Object.keys(lowerScoresBoard)" v-bind:key="winningPoints2">
                        <span v-if="lowerScoresBoard[winningPoints2][fuPoints] === null">N/A</span>
                        <span v-if="lowerScoresBoard[winningPoints2][fuPoints] !== null && lowerScoresBoard[winningPoints2][fuPoints].selfDrawOther !== 8000">
                            <em v-if="lowerScoresBoard[winningPoints2][fuPoints].selfDrawEast !== null">
                                {{lowerScoresBoard[winningPoints2][fuPoints].selfDrawOther}} / {{lowerScoresBoard[winningPoints2][fuPoints].selfDrawEast}}
                            </em>
                            <em v-if="lowerScoresBoard[winningPoints2][fuPoints].selfDrawEast === null">
                                N/A
                            </em>
                            <span v-if="lowerScoresBoard[winningPoints2][fuPoints].nonEastPortion !== null">
                            {{lowerScoresBoard[winningPoints2][fuPoints].nonEastPortion}} / {{lowerScoresBoard[winningPoints2][fuPoints].eastPortion}}
                            </span>
                        </span>
                        <span v-if="lowerScoresBoard[winningPoints2][fuPoints] !== null && lowerScoresBoard[winningPoints2][fuPoints].selfDrawOther === 8000">
                            {{language.get('SCORE_TABLE_MANGAN')}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>{{language.get('SCORE_TABLE_MORE_THEN_5')}}</h2>
        <table>
            <thead>
                <tr>
                    <td colspan="6">{{language.get('SCORE_TABLE_MORE_THEN_5_HEADER')}}</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="2">{{language.get('SCORE_TABLE_SELF_DRAWN')}}</td>
                    <td colspan="2">{{language.get('SCORE_TABLE_OTHER_DRAWN')}}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><em>{{language.get('SCORE_TABLE_NAME')}}</em></td>
                    <td><em>{{language.get('SCORE_TABLE_NON_EAST')}}</em></td>
                    <td><em>{{language.get('SCORE_TABLE_EAST')}}</em></td>
                    <td><em>{{language.get('SCORE_TABLE_NON_EAST')}}</em></td>
                    <td><em>{{language.get('SCORE_TABLE_EAST')}}</em></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><em>5</em></td>
                    <td><em>{{language.get('SCORE_TABLE_MANGAN')}}</em></td>
                    <td><em>2000</em></td>
                    <td><em>4000</em></td>
                    <td><em>8000</em></td>
                    <td><em>12000</em></td>
                </tr>
                <tr>
                    <td><em>6-7</em></td>
                    <td><em>{{language.get('SCORE_TABLE_HANEMAN')}}</em></td>
                    <td><em>3000</em></td>
                    <td><em>6000</em></td>
                    <td><em>12000</em></td>
                    <td><em>16000</em></td>
                </tr>
                <tr>
                    <td><em>8-10</em></td>
                    <td><em>{{language.get('SCORE_TABLE_BAIMAN')}}</em></td>
                    <td><em>4000</em></td>
                    <td><em>8000</em></td>
                    <td><em>16000</em></td>
                    <td><em>24000</em></td>
                </tr>
                <tr>
                    <td><em>11-12</em></td>
                    <td><em>{{language.get('SCORE_TABLE_SAN_BAIMAN')}}</em></td>
                    <td><em>6000</em></td>
                    <td><em>12000</em></td>
                    <td><em>24000</em></td>
                    <td><em>32000</em></td>
                </tr>
                <tr>
                    <td><em>&gt;12</em></td>
                    <td><em>{{language.get('SCORE_TABLE_YAKUMAN')}}</em></td>
                    <td><em>12000</em></td>
                    <td><em>16000</em></td>
                    <td><em>32000</em></td>
                    <td><em>48000</em></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<style lang="scss">
    @import '../assets/sass/colors';
    @import '../assets/sass/fonts';
    @import '../assets/sass/page-common';

    .score-table-page {
        @extend %page-common;

        table {
            width: 100%;
            border-collapse: collapse;
            color: $color-accent-mid;
            margin-bottom: 20px;

            thead {
                tr {
                    td {
                        @extend %font--xxl;
                        background: $color-background-alt;
                        color: $color-dark;
                        text-align: center;
                    }

                    &:last-child {
                        td {
                            border-bottom: 1px solid black;

                            &:first-child {
                                border-bottom: 1px solid transparent;
                            }
                        }
                    }
                }
            }

            tbody {
                td {
                    text-align: center;
                    white-space: nowrap;
                    @extend %font--xl;
                    height: 40px;

                    &:first-child {
                        border-right: 1px solid black;
                    }

                    em {
                        @extend %font--xl-plus;
                        display: block;
                    }
                }

                tr:nth-child(2n) {
                    color: $color-dark;
                    background: $color-accent-light;

                }

                tr:last-child {
                    td {
                        border-bottom: 1px solid black;

                        &:first-child {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }
</style>
<script lang="ts">
    import Vue from "vue";

    import {Component} from "vue-property-decorator";

    import Language from "@/assets/i18n/Language";

    import {lowerScoresBoard} from "@/lib/mahjong/model/Score";

    @Component({})
    export default class ScoreTable extends Vue {
        language: Language = Language.getInstance();

        lowerScoresBoard = lowerScoresBoard;
    }
</script>