<template>
  <div class="app">
    <div class="app__header">
      <div class="app__header__burger" v-on:click="navRetracted = !navRetracted">&nbsp;</div>
      <h1 class="app__header__title">
        {{ $router.currentRoute.name }}
      </h1>
      <div class="app__header__lang">
        <span
          v-bind:class="{'app__header__lang__option': true, 'app__header__lang__option--selected': language.currentLanguageId === 'de'}"
          v-on:click="language.setLanguage('de')"
        >
          de
        </span>
        <span
          v-bind:class="{'app__header__lang__option': true, 'app__header__lang__option--selected': language.currentLanguageId === 'en'}"
          v-on:click="language.setLanguage('en')"
        >
          en
        </span>
      </div>
    </div>
    <div class="app__lower">
      <div v-bind:class="{'app__lower__nav': true, 'app__lower__nav--expanded': !navRetracted}">
        <router-link to="/">{{language.get('APP_NAV_HOME')}}</router-link>
        <router-link to="/score-table">{{language.get('APP_NAV_SCORE_TABLE')}}</router-link>
        <router-link to="/winning-hands">{{language.get('APP_NAV_WINNING_HANDS')}}</router-link>
        <router-link to="/calculator">{{language.get('APP_NAV_CALCULATOR')}}</router-link>
      </div>
      <div class="app__lower__content">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  @import 'assets/sass/colors';
  @import 'assets/sass/fonts';

body {
  margin: 0;
}

  .app {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 768px;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 1024px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32px auto;

    .app__header {
      box-sizing: border-box;
      border: 1px solid black;
      text-align: center;
      line-height: 28px;
      white-space: nowrap;
      background: $color-accent-dark;
      position: relative;
      grid-column: 1;
      grid-row: 1;

      .app__header__title {
        color: $color-background;
        @extend %font--xl-plus;
        margin: 0;
        padding: 0;
      }

      .app__header__burger {
        position: absolute;
        left: 1px;
        top: 1px;
        float: left;
        height: 26px;
        width: 26px;
        background: $color-accent-light;
        border-radius: 5px;
        border: 1px solid $color-accent-mid;
        line-height: 24px;
        text-align: center;

        &:after {
          color: $color-background;
          @extend %font--xl-plus;
          content: "\2630";
          vertical-align: middle;
        }
      }

      .app__header__lang {
        position: absolute;
        right: 5px;
        top: 0;

        .app__header__lang__option {
          box-sizing: border-box;
          display: inline-block;
          height: 28px;
          line-height: 28px;
          color: $color-accent-light;
          @extend %font--xl;
          padding: 0 16px;
          cursor: pointer;

          &.app__header__lang__option--selected{
            background: $color-accent-light;
            color: $color-background;
          }
        }
      }

      a, span {
        box-sizing: border-box;
        display: inline-block;
        height: 28px;
        line-height: 28px;
        color: $color-accent-light;
        @extend %font--xl;
        padding: 0 16px;
        cursor: pointer;
      }
    }

    .app__lower {
      position: relative;
      grid-column: 1;
      grid-row: 2;

      .app__lower__nav {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        border: 1px solid $color-accent-light;
        background: $color-background-alt;
        transition: width 0.25s ease-out;
        overflow: hidden;
        z-index: 2;

        &.app__lower__nav--expanded {
          width: 150px;
        }

        a {
          height: 28px;
          line-height: 28px;
          white-space: nowrap;
          display: block;
          color: $color-accent-light;
          @extend %font--xl;
          padding: 0 16px;
          cursor: pointer;
          margin: 10px 10px 0 10px;

          &.router-link-exact-active {
            background: $color-accent-light;
            color: $color-background;
          }
        }
      }

      .app__lower__content {

      }

    }
  }
</style>
<script lang="ts">
  import Vue from 'vue';

  import {Component} from "vue-property-decorator";

  import Language from "@/assets/i18n/Language";

  @Component({})
  export default class App extends Vue {
    language: Language = Language.getInstance();

    navRetracted: boolean = true;
  }
</script>