// Color scheme to be used on the app
$color-dark: #81717a;
$color-accent-dark: #9d8ca1;
$color-accent-mid: #9993b2;
$color-accent-light: #a7abdd;
$color-light: #b4d4ee;
$color-background: #ffffff;
$color-background-alt: #eeeeee;